In [1]:
import pandas as pd
import numpy as np
import os
import csv

hop_df = pd.read_csv("Resources/purchase_data.csv")

hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
hop_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
hop_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [4]:
# IMPORTANT DO NOT REMOVE
unique_user_count = len(hop_df["SN"].unique())
unique_user_count

576

In [5]:
# Player count  (Total)
# VITAL TO THE HOMEWORK KEEP THIS
total_count_table = pd.DataFrame({"Total Players": [unique_user_count]})
total_count_table

   Total Players
0            576

In [6]:
unique_item_count = len(hop_df["Item Name"].unique())
unique_item_count

179

In [7]:
# Number of Unique Items
item_count_table = pd.DataFrame({"Item Name": [unique_item_count]})
item_count_table

   Item Name
0        179

In [8]:
# Average purchase price
average_purchase = hop_df["Price"].mean()
average_purchase

3.050987179487176

In [9]:
# Important
# Num of total purchase
num_total_purchase = hop_df["Price"].count()
num_total_purchase

780

In [10]:
# Sum of Purchases
# Important
revenue_purchases = hop_df["Price"].sum()
revenue_purchases

2379.77

In [11]:
# Important
purchasing_analysis_table = pd.DataFrame({"Unique Items": [unique_item_count], "Average Purchase Price":[average_purchase], "Total Number of Purchase" : [num_total_purchase], "Total Revenue": [revenue_purchases]})
purchasing_analysis_table["Average Purchase Price"] = purchasing_analysis_table["Average Purchase Price"].map("${0:,.2f}".format)
purchasing_analysis_table["Total Revenue"] = purchasing_analysis_table["Total Revenue"].map("${0:,.2f}".format)
purchasing_analysis_table

   Unique Items Average Purchase Price  Total Number of Purchase Total Revenue
0           179                  $3.05                       780     $2,379.77

In [12]:
# Vital to homework

In [13]:
# Gender Demographics

In [14]:
# Percent of Male Players
male_group = hop_df.loc[hop_df["Gender"] == "Male"]
male_group.count()

Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64

In [15]:
female_group = hop_df.loc[hop_df["Gender"] == "Female"]
female_group.count()

Purchase ID    113
SN             113
Age            113
Gender         113
Item ID        113
Item Name      113
Price          113
dtype: int64

In [16]:
other_group = hop_df.loc[hop_df["Gender"] == "Other / Non-Disclosed"]
other_group.count()

Purchase ID    15
SN             15
Age            15
Gender         15
Item ID        15
Item Name      15
Price          15
dtype: int64

In [17]:
clean_males = len(male_group["SN"].unique())
clean_males

484

In [18]:
clean_females = len(female_group["SN"].unique())
clean_females

81

In [19]:
clean_others = len(other_group["SN"].unique())
clean_others

11

In [20]:
male_decimal = (clean_males/unique_user_count)*100
female_decimal = (clean_females/unique_user_count)*100
other_decimal = (clean_others/unique_user_count)*100

In [21]:
data_demo_table = pd.DataFrame({" ":["Males", "Females", "Other / Non-Disclosed"],"Total Count": [clean_males, clean_females, clean_others], "Percentage of Players": [male_decimal, female_decimal,other_decimal]
              })
data_demo_table["Percentage of Players"] = data_demo_table["Percentage of Players"].map("{:.1f}%".format)

data_demo_table

                          Total Count Percentage of Players
0                  Males          484                 84.0%
1                Females           81                 14.1%
2  Other / Non-Disclosed           11                  1.9%

In [28]:
purchase_count = []
purchase_count.append(len(male_group["Price"]))
purchase_count.append(len(female_group["Price"]))
purchase_count.append(len(other_group["Price"]))
for count in purchase_count:
    print(count)
print(sum(purchase_count))

652
113
15
780

In [31]:
total_purchase = []
total_purchase.append(sum(male_group["Price"]))
total_purchase.append(sum(female_group["Price"]))
total_purchase.append(sum(other_group["Price"]))

print(total_purchase)

[1967.6399999999994, 361.93999999999966, 50.190000000000005]

In [30]:
average_purchase = []
for purchases in range(0, len(total_purchase)):
    average_purchase.append(total_purchase[purchases]/purchase_count[purchases])

print(average_purchase)

[3.0178527607361953, 3.203008849557519, 3.3460000000000005]

In [22]:
# Purchasing Analysis

In [23]:
# Age Demographics

In [24]:
# Top Spenders

In [25]:
# Most Popular Items

In [26]:
# Most Profitable Items

In [27]:
# Must use pandas libarary and Jupyter Notebook.  Must submit a link to your Juypter Notebook with vieweable Data Frames.
# Must include written description of three obserable trends based on the data.